doctype 5
html(lang="en")
  head
    title="BjArTwOlF"
  body
    h1 Welcome
    :markdown
        Not too sure if people actually have these homepages anymore.

        Don't know what to put in here. I just link to my stuff, I guess
        I have a [semi-serious blog](http://blog.bjartwolf.com) and a 
        [not so serious blog](http://rosa.bjartwolf.com).

        I'm also on GitHub, just rambling code for fun, [GitHub/bjartwolf](http://github.com/bjartwolf)

    #container
        img(src='/public/images/bjartwolf_small.jpg', width='315px')
    include twitterWidget
